[Unit]
Description=Run Fieldwork event poller

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=fieldwork-event-poll.service

[Install]
WantedBy=timers.target
