[Unit]
Description=Fieldwork root-owned PR prepare escape socket

[Socket]
ListenStream=/run/fieldwork/fieldwork-pr-prepare.sock
SocketUser=fieldwork
SocketGroup=fieldwork
SocketMode=0600
RuntimeDirectory=fieldwork
RuntimeDirectoryMode=0750
Accept=yes
MaxConnections=4

[Install]
WantedBy=sockets.target
